body {
    font-family: Arial, sans-serif;
    align-items: center;;
}
form {
    margin: 0 auto;
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input, select, button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
h1, p {
    text-align: center;
}